In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [6]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employee (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    );
''')
connection.commit()

In [8]:
cursor.execute('''
    Insert Into employee(name,age,department)
               values('Psa',19,'Student')
''')
cursor.execute('''
    Insert Into employee(name,age,department)
               values('Ssg',19,'Student')
''')
cursor.execute('''
    Insert Into employee(name,age,department)
               values('Myc',19,'Student')
''')
connection.commit()

In [11]:
cursor.execute('Select * from employee')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Psa', 19, 'Student')
(2, 'Ssg', 19, 'Student')
(3, 'Myc', 19, 'Student')